*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
}

.row{
  content: "";
  display: table;
  clear: both;
}



/* HEADER */
header{
  /* debug rules */
  background-color: #0C325A;
}

#main-nav{
  height: 100px;
}

.background-header{
  height: 400px;
  background-image: url(../img/background-header.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-origin: border-box;
  background-position: bottom right;
}



/* MAIN */
main{
  /* debug rules */
  background-color: white;
}

/* BANNER */
.banner{
  /* debug rules */
  height: 100px;
  background-color: grey;
}

/* STRENGTH POINTS */
.center-strength{
  width: 80%;
  margin: 0 auto;
}

#strength-points .row{
  /* debug rules */
  width: 100%;
  background-color: darkgreen;
}

.col-strength{
  float: left;
  width: 30%;
  margin-right: 5%;
  /* debug rules */
  height: 450px;
  background-color: lightgreen;
}

.col-strength:last-child{
  margin-right: 0;
}

/* CALL TO ACTION */
.center-action{
  width: 70%;
  margin: 0 auto;
}

#call-to-action .row{
  /* debug rules */
  width: 100%;
  height: 350px;
  background-color: darkblue;
}

.col-action{
  float: left;
  width: 45%;
  margin-right: 10%;
  /* debug rules */
  height: 450px;
  background-color: lightblue;
}

.col-action:last-child{
  margin-right: 0;
}



/* FOOTER */
footer{
  height: 150px;
  /* debug rules */
  background-color: orange;
}

.center-nav-footer{
  width: 75%;
  margin: 0 auto;
}
