*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
}

.row{
  width: 100%;

  content: "";
  display: table;
  clear: both;
}



/* HEADER */
header{
  background-color: #0C325A;
}
.logo{
  float: left;

  margin-right: 80px;
}

/* MAIN-NAV */
.main-nav{
  float: left;

  width: 50%;
  height: 60px;
  line-height: 60px;
}

.main-nav img{
  vertical-align: middle;
}


.main-nav li{
  display: inline-block;

  margin-top: 6px;
  margin-right: 3%;
}

.main-nav li a{
  color: white;
  font-size: 14px;

  text-decoration: none;

  vertical-align: middle;
}

/* RIGHT-NAV */
.right-nav{
  float: right;
  text-align: right;

  width: 35%;
  height: 60px;
  line-height: 60px;
}

.right-nav li{
  display: inline-block;

  margin-top: 6px;
  margin-right: 3%;
}

.right-nav li:last-child{
  margin-right: 0;
}

.right-nav li a{
  color: white;
  font-size: 14px;

  text-decoration: none;

  vertical-align: middle;
}

#login{
  border: 1px solid white;
  border-radius: 5px;

  padding: 8px 30px;
}

.structure-a-plan{
  background-color: lightgreen;

  border-radius: 5px;

  padding: 10px 5px;
}

.background-header{
  height: 600px;
  background-image: url(../img/background-header.png);
  background-size: 1000px;
  background-repeat: no-repeat;
  background-origin: border-box;
  background-position: 108% 100%;
}

/* JUMBOTRON */
#jumbotron{
  position: relative;

  width: 100%;
  height: 540px;;
}

#jumbo-text{
  padding: 178.5px 0;

  width: 50%;

  color: white;
  font-size: 48px;
  font-weight: bold;
}

#jumbo-text .structure-a-plan{
  display: inline-block;

  color: white;
  font-size: 14px;
  text-decoration: none;

  padding: 20px 20px;
}

/* MAIN */
main{
  /* debug rules */
  background-color: white;
}

/* BANNER */
.banner{
  text-align: center;
  /* debug rules */
  height: 120px;
  background-color: lightgrey;
}

#banner-heading{
  color: black;

  font-weight: normal;
  font-size: 21px;
}

.content-text{
  color: grey;

  font-weight: normal;
  font-size: 16px;

  padding-top: 15px;
}

.banner-v-align{
  padding: 30px 0;
}

/* STRENGTH POINTS */
.center-strength{
  width: 80%;
  margin: 0 auto;
}

#strength-points .row{
  /* debug rules */
  width: 100%;
  background-color: darkgreen;
}

.col-strength{
  float: left;
  width: 30%;
  margin-right: 5%;
  /* debug rules */
  height: 450px;
  background-color: lightgreen;
}

.col-strength:last-child{
  margin-right: 0;
}

/* CALL TO ACTION */
.center-action{
  width: 70%;
  margin: 0 auto;
}

#call-to-action .row{
  /* debug rules */
  width: 100%;
  height: 350px;
  background-color: darkblue;
}

.col-action{
  float: left;
  width: 45%;
  margin-right: 10%;
  /* debug rules */
  height: 450px;
  background-color: lightblue;
}

.col-action:last-child{
  margin-right: 0;
}



/* FOOTER */
footer{
  height: 150px;
  /* debug rules */
  background-color: orange;
}

.center-nav-footer{
  width: 90%;
  margin: 0 auto;
}
